.venv/
__pycache__/
*.pyc

.ipynb_checkpoints/

models/*
outputs/*

*.bin
*.pt
*.pth
*.safetensors

.env
.DS_Store

data/raw/*
!data/raw/.gitkeep
evaluation/
experiments/
frontend/node_modules/
frontend/dist/
